.home-design 
{
  width: 100vw;
  padding: 20px;
  background-color: rgb(90, 121, 101);
}

.card-container 
{
  cursor: pointer;
  margin-bottom: 20px;
}

.card-container > div
{
  height: 30vh;
  overflow-y: scroll;
}

.ccard 
{
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease-in-out; 
}

.ccard:hover 
{
  transform: scale(1.05); 
}

#load
{
  height: 100vh;
}
