body 
{
    background-image: url(/src/assets/rick-morty.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.characters-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.character-card 
{
    background-color: hsl(140, 3%, 21%);
    border: 1px solid #2a3320;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
    height: 32vh;
}

.error-message 
{
    color: red;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.character-image 
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}
  
.character-name
{
    font-weight: bold;
    color: rgb(124, 147, 130);
    font-size: 1.5em;
}

.character-species, .character-type, .character-gender
{
    margin-top: 1vh;
    font-size: 1em;
    color: rgb(81, 130, 138);
}
  